####################
###### Convex ######
####################

NEXT_PUBLIC_CONVEX_URL=

CONVEX_DEPLOYMENT=
CONVEX_SITE_URL=
# Used to auth stripe related endpoints
CONVEX_SYNC_SECRET=
# Used to auth server with the DB
CONVEX_SECRET_TOKEN=
# Used for Admin Actions
CONVEX_ADMIN_TOKEN=

#####################
###### WorksOS ######
#####################

WORKOS_CLIENT_ID=
WORKOS_API_KEY=
WORKOS_COOKIE_PASSWORD=
NEXT_PUBLIC_WORKOS_REDIRECT_URI=


##########################
###### AI Providers ######
##########################

AI_GATEWAY_API_KEY=
# Seach Tool
VALYU_API_KEY=
SUPERMEMORY_API_KEY=
###########################
###### CloudFlare R2 ######
###########################

R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_PUBLIC_BASE_URL=

###################
###### Misc ######
##################

ADMIN_EMAILS=
STRIPE_API_KEY=
FREE_PRICE_ID=
PLUS_PRICE_ID=
PRO_PRICE_ID=
ENTERPRISE_PRICE_ID=
# WIP Dashboard Analytics Map
NEXT_PUBLIC_MAPBOX_TOKEN=

NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=


KV_REST_API_URL=
KV_REST_API_TOKEN=

